$main-color: #24caac;
    $color-1: #eaa023;
    $color-2: #e91e63;
    $dark-700: rgb(228, 228, 228);
    $dark-800: #ffffff;
    $white-900:  #24292d;
    $white-800: #2f363e;

darktheme{
    $main-color: #24caac;
    $color-1: #eaa023;
    $color-2: #e91e63;
    $dark-700: #2f363e;
    $dark-800: #24292d;
    $white-900: #ffffff;
    $white-800: rgba(255,255,255,0.8);
};
lighttheme{
    $main-color: #24caac;
    $color-1: #eaa023;
    $color-2: #e91e63;
    $dark-700: rgb(228, 228, 228);
    $dark-800: #ffffff;
    $white-900:  #24292d;
    $white-800: #2f363e;
};